# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Checkpoints
checkpoints/

# Results
results/

# Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db